<!DOCTYPE html>
<!-- Home Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                Welome to GitPolitical
            </h1>

            <div class="well">
                <p>
                  {{# each items }}
                    <h3>Title: {{ this.title }}</h3>
                    <div>Message: {{ this.content }}</div>
                  {{/each}}
                </p>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
