<!DOCTYPE html>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">

            <h1 class="page-header">
                Welcome to your Dashboard
            </h1>

            <h3>Submit a Topic</h3>
            <form method="post" action="/profile/insert">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Topic Title:</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter a topic..." >
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea class="form-control" name="message" placeholder="Enter a message..."></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
</div>
<!-- Container -->
