html,
body {
  height: 100%;
}

form {
  margin-bottom: 225px;
}

.page-header{
  margin-top:0;
}

/*Logout Button*/
.nav .btn {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0 !important;
}

.navbar-nav > li > button {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*Sticky Footer*/
.nav-footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #2a2730;
}

.nav-footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.nav-footer a {
    color: #fff;
}

.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.footer-links li {
    display: inline-block;
}

.footer-links li+li {
    margin-left: 15px;
}

/*Modal Size*/
@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin: 200px auto;
  }
}

/*Logout Modal*/
.modal-footer .btn+.btn {
    margin-bottom: auto;
    display: inline;
    margin-left: 265px;
}

.logout-title {
  margin-left: 45px;
}
